
<div class="container">
  <body style="background-color: danger">

    <div class="row">
      <div  class="col">
        Maze Cursor productio a Wes Ball directa est, quae etiam suum debut est. Summa character est Thomas. Puer teenager est et in loco alieno evigilat: elevator obscurus. Praeterea non meminit quomodo hic et quis sit. </div>
      <div  class="col"><img src="https://cdn.galleries.smcloud.net/t/galleries/gf-9eWs-g2FN-4QHh_wiezien-labiryntu-664x442-nocrop.jpg" class="img-fluid"></div>
    </div>
  </body>
   </div>
 <lib-our-team></lib-our-team>