
<div class="container">
  <body style="background-color: danger">

    <div class="row">
      <div  class="col">
        Maze Cursor productio a Wes Ball directa est, quae etiam suum debut est. Summa character est Thomas. Puer teenager est et in loco alieno evigilat: elevator obscurus. Praeterea non meminit quomodo hic et quis sit. </div>
      <div  class="col"><img src='https://gfx.radiozet.pl/var/radiozetsg/storage/images/filmy/shrek-the-musical-trafil-na-netflixa-co-nowego-u-slynnego-ogra/15691856-1-pol-PL/Shrek-The-Musical-trafil-na-Netflixa.-Co-nowego-u-slynnego-ogra_size_1240x516.jpg' class="img-fluid"></div>
    </div>
  </body>
   </div>
 <lib-our-team></lib-our-team>