<h2>Home page</h2>
<div class="container">
    <div class="row">
      <div  class="col">Więzień labiryntu to produkcja w reżyserii Wesa Balla, będąca zarazem jego debiutem. Głównym bohaterem jest Thomas. Chłopak jest nastolatkiem i budzi się w dziwnym miejscu: ciemnej windzie. W dodatku nie pamięta, jak się tu znalazł i kim jest. </div>
      <div  class="col"><img src="https://cdn.galleries.smcloud.net/t/galleries/gf-9eWs-g2FN-4QHh_wiezien-labiryntu-664x442-nocrop.jpg" class="img-fluid"></div>
    </div>
  </div>
 